@tailwind base;
@tailwind components;
@tailwind utilities;

.fixed-width-select {
  width: 160px; /* or any fixed width you want */
}

.avatar {
  width: 32px;
  height: 32px;
}

html {
  display: flex;
  overflow: hidden;
  height: 100%;
  width: 100%;
}

body {
  display: flex;
  flex-grow: 1;
  height: 100%;
  width: 100%;
}

div {
  display: flex;
}

span {
  margin: 0;
}

header {
  padding-left: 4px !important;
  padding-right: 4px !important;
  gap: 0.5rem !important;
}

.bold-font {
  font-weight: 750;
}

#nav {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  width: 100vw;
  padding-left: 4px;
  padding-right: 4px;
}

#firstSection {
  display: flex;
  flex-direction: row;
  /* flex-grow: 1; */
}

#secondSection {
  display: contents;

  /* flex-direction: row; */

  /* gap: 10px; */
}

#thirdSection {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-start;
  /* flex-grow: 1; */
}


#body {
  display: flex;
  flex-direction: column;
  /* This makes the div unscrollable */
  height: 100%;
  width: 100%;
  margin: 0;
}


#maze {
  flex-grow: 1;
  /* This makes the maze take up all remaining space */

  max-height: 100vh;
  /* This prevents the div from growing larger than the viewport */
}

#canvas {
  width: 100%;
  height: 100%;
  image-rendering: pixelated;
  outline: none;
}
